body{
background:linear-gradient(rgb(46, 2, 73)rgb(87, 10, 87)rgb(169, 16, 121)rgb(248, 6, 204));.
font-family: 'Lucida Sans';
font-size: small;
color: #fdfdfd;
text-align: center;
display: inline;
font-size: 14px;
}
h3{
font-family: 'Lucida Sans';
font-size: small;
color: #fdfdfd;
text-align: center;
display: inline;
font-size: 14px;
}
.linha {
font-family: 'Lucida Sans';
font-size: small;
font-size: 12px;
background-color:rgb(66, 56, 10);
}
.lista {
font-family: 'Lucida Sans';
font-size: small;
text-align: left;
font-size: 12px;
color:rgb(66, 56, 10);
}
.itens {
background-color: rgb(211, 204, 174);